site_name: Yuan-Chat Docs
site_url: https://zl-jn.github.io/yuan-chat-docs/
site_description: Yuan-Chat Docs
repo_url: https://github.com/zl-jn/yuan-chat-docs

theme:
  name: material
  font: false
  language: zh
  features:
    - navigation.tabs #导航栏上方标签页

plugins:
  - search
  - mike:
      alias_type: symlink
      redirect_template: null
      deploy_prefix: ''
      canonical_version: null
      version_selector: true
      css_dir: css
      javascript_dir: js

  - i18n:
      docs_structure: folder 
      fallback_to_default: true
      reconfigure_material: true
      reconfigure_search: true
      languages:
        - locale: zh
          default: true
          name: 中文（简体）
          build: true
        - locale: en
          name: English
          link: /en/
          build: true
          nav_translations:
            首页: Home
            基本说明: Getting Started
            管理员手册: Administration Guide
            用户手册: User Guide
            API文档: APl Reference
            开发手册: Developer Guide

extra:
  version:
    provider: mike

nav:
  - 首页: index.md
  - 基本说明: GettingStarted/GettingStarted.md
  - 管理员手册: AdministrationGuide/AdministrationGuide.md
  - 用户手册: UserGuide/UserGuide.md
  - API文档: APlReference/APlReference.md
  - 开发手册: DeveloperGuide/DeveloperGuide.md

